<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainier.dao.RecommendDao">
    <resultMap id="BaseResultMap" type="com.rainier.pojo.RecommendDo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
        <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
        <result column="resource_uuid" jdbcType="VARCHAR" property="resourceUuid" />
        <result column="resource_type" jdbcType="INTEGER" property="resourceType" />

        <result column="recommend_num" jdbcType="DECIMAL" property="recommendNum" />
        <result column="word_similarity" jdbcType="DECIMAL" property="wordSimilarity" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, uuid, user_id, user_uuid, resource_id, resource_uuid, resource_type, recommend_num,
    word_similarity, update_time
  </sql>
    <select id="selectByResoureAndUser"
            resultMap="BaseResultMap">
		select * from recommend
		 where user_uuid='${userUuid}' and  resource_uuid ='${resourceUuid}'
	</select>
</mapper>